<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MKEPD Call Logs</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  </head>

  <body>
    <div class="container">
      
      <div class="header">
        <div class="usa-grid">
          <div style="float:right;">
            <a class="usa-button" href="/map">Map</a>
            <a class="usa-button-gray usa-button" href="/">List</a>
            <a class="usa-button-outline-inverse usa-button" href="/csv" style="margin-right: 0px;">Download data</a>
          </div>
          <div class="title">Milwaukee Police Department Dispatch Logs</div>
        </div>
      </div>
      <main role="main">

        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
