<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MKE Police Department Call Logs</title>
    <link rel="stylesheet" media="all" href="<%= Routes.static_path(@conn,"/css/normalize.css") %>"></script>
    <link rel="stylesheet" media="all" href="<%= Routes.static_path(@conn,"/css/uswds.min.css") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn,"/js/uswds.min.js") %>"></script>
  </head>
  <body>
    <header class="usa-header usa-header-basic" role="banner">
      <div class="usa-overlay"></div>
      <header class="usa-header usa-header--basic" role="banner">
        <div class="usa-nav-container">
          <div class="usa-navbar">
            <div class="usa-logo" id="basic-logo">
              <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">MKE Police Call Logs</a></em>
            </div>
            <button class="usa-menu-btn">Menu</button>
          </div>
          <nav role="navigation" class="usa-nav">
            <button class="usa-nav__close"><img src="<%= Routes.static_path(@conn, "/img/close.svg") %>" alt="close"></button>
            <ul class="usa-nav__primary usa-accordion">
              <li class="usa-nav__primary-item">
                <%= link("About", to: Routes.page_path(@conn, :about), class: "usa-nav__link") %>
              </li>
              <li class="usa-nav__primary-item">
                <%= link("Contribute", to: Routes.page_path(@conn, :contribute), class: "usa-nav__link") %>
              </li>
              <li class="usa-nav__primary-item">
                <%= link("Bulk Data", to: Routes.page_path(@conn, :bulk), class: "usa-nav__link") %>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main role="main" class="">
        <div class="grid-container">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
